services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "${BACKEND_PORT}:8000"
    volumes:
      - ./backend/clusters:/app/clusters
      - ./backend/data/images:/app/data/images
      - ./backend/inferencing:/app/inferencing

    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:13
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"

volumes:
  postgres_data:
    driver: local